.main {
  margin: 0 auto;
  max-width: 1080px;
  height: calc(100vh - 200px);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.main section {
  margin-top: -80px;
}

@media (max-width: 720px) {
  .main {
    grid-template-columns: 1fr;
  }

  .main section {
    margin: 0;
  }
}
